
<div>
    <div class="card" id="restaurant">
        <a class="link-underline-light" style="color:black;" routerLink="./{{restaurant.id}}">
            <div class="card-body">
                <h4 class="card-title">{{restaurant.name}}</h4>
                <p>{{restaurant.description}}</p>
                <p class="card-text"><b>Located:</b> {{restaurant.address}}, <b>Rating:</b> {{restaurant.rating}}</p>
            </div>
        </a>
        <div *ngIf="userService.isAuthenticated()" class="card-body" style="display: flex; gap: 5px;">
            <button routerLink="./edit/{{restaurant.id}}" class="btn btn-primary" style="background-color: rgb(41, 40, 40); color: white;">Edit</button>
            <button class="btn btn-primary" style="background-color: rgb(41, 40, 40); color: white;" (click)="deleteRestaurant()">Delete</button>
        </div>
        <!-- <p>{{restaurant | json}}</p> -->
    </div>
</div>