
<div>
    <div class="card" id="restaurant">
        <a class="link-underline-light" style="color:black;" routerLink="./{{restaurant.id}}">
            <div class="card-body">
                <h4 class="card-title">{{restaurant.name}}</h4>
                <p>{{restaurant.description}}</p>
                <p class="card-text"><b>Located:</b> {{restaurant.address}}, <b>Rating:</b> {{restaurant.rating}}</p>
            </div>
        </a>
        <!-- <p>{{restaurant | json}}</p> -->
    </div>
</div>