<h1>{{restaurant.name}}</h1>
<p>{{restaurant.description}}</p>
<p>Location: {{restaurant.address}}</p>
<p>Rating: {{restaurant.rating}}</p>
<h2>Menu!</h2>
<div *ngFor="let item of menuItems" style="padding-bottom: 1%;">
    <div class="card" style="padding: 1%; ">
        <h6>{{item.name}}</h6>
        <p>£{{item.price}}</p>
        <div *ngIf="userService.isAuthenticated()" class="card-body" style="display: flex; gap: 5px;">
            <button routerLink="./edit/{{restaurant.id}}" class="btn btn-primary" style="background-color: rgb(41, 40, 40); color: white;">Edit</button>
            <button class="btn btn-primary" style="background-color: rgb(41, 40, 40); color: white;" (click)="deleteItem(1)">Delete</button>
        </div>
    </div>
</div>