<h1>{{restaurant.name}}</h1>
<p>{{restaurant.description}}</p>
<p>Location: {{restaurant.address}}</p>
<p>Rating: {{restaurant.rating}}</p>
<h2>Menu!</h2>
<div *ngFor="let item of menuItems">
    <div class="card" style="padding: 1%; ">
        <h6>{{item.name}}</h6>
        <p>£{{item.price}}</p>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary" style="background-color: rgb(41, 40, 40); color: white;">add to order</button>
        </div>
    </div>
    <p>{{item | json}}</p>
</div>